$Navbar-color: #261b23 
$Font-color:  #37567a  
$Header-color:  #6b95ad 
$Font-highlight-color: #6b95ad 
$Content-color: #1a1316 
$Navbar-padding: .3vw
$Footer-color: #000000


*
    padding: 0
    margin: 0
    text-align: center

html
    color: $Font-color
    min-height: 100%
    background-color:  #2e263d  


#navbar
    color: $Font-color
    display: inline
    padding: 1em
    margin: 0
    background-color: $Navbar-color
    position: absolute
    top: 0
    left: 0
    right: 0 
    ul
        text-align: left
        list-style: none
        li
            display: inline
            padding-left: $Navbar-padding
            padding-right: $Navbar-padding
a
    color: $Font-color
    font-size: 20pt
    text-decoration: none
a:hover
    color: $Font-highlight-color
    text-decoration: underline

#content
    color: $Font-color
    background-color: $Content-color
    position: absolute
    bottom: 1em
    right: 0
    left: 0
    top: 4em

#about

#contact
    ul
        li
            display: inline
            list-style: none

#footer
    background-color: $Footer-color
    position: absolute
    bottom: 0
    left: 0
    right: 0

h1
    font-size: 60pt
    color: $Header-color

h2
    